@import url('https://fonts.googleapis.com/css?family=Spartan|Titillium+Web&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #A01D2B;
	font-family: 'Spartan';
}

.wrapper
{
	margin-top: 10%;
	text-align: center;
}

.wrapper h1
{
	font-family: 'Titillium Web';
	font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
}

.wrapper .member
{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	background-color: white;
	color: #191919;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
}

.wrapper .member .member-name
{
	font-family: 'Spartan';
	text-align: center;
	font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #191919;
}

.wrapper .member .user-icon
{
	padding: 20px 0px;
}

.wrapper .member .member-desc
{
	letter-spacing: 1px;
    line-height: 1.5em;
    padding: 0px 10px;
}